@page "/contacts_index"
@inject ReservationsService ReservationsService
@inject IStringLocalizer<Resource> localizer
@using Reservation.Shared.Models
@* Localization for Automatic Translation using the browser language configuration *@
@localizer[@Message]

<section class="u-clearfix u-grey-5 u-section-1" id="sec-462a">
    <div class="u-clearfix u-sheet u-sheet-1">
        <div class="u-clearfix u-expanded-width u-layout-wrap u-layout-wrap-1">
            <div class="u-layout">
                <div class="u-layout-row">
                    <div class="u-container-style u-layout-cell u-size-20 u-layout-cell-1">
                        <div class="u-container-layout u-container-layout-1">
                            <h4 class="u-text u-text-default u-text-palette-2-base u-text-1">@localizer["Contacts"]</h4>
                        </div>
                    </div>
                    <div class="u-container-style u-layout-cell u-size-20 u-layout-cell-2">
                        <div class="u-container-layout u-container-layout-2">
                            <h6 class="u-text u-text-default u-text-palette-3-dark-2 u-text-2">
                                <span style="font-size: 0.875rem;"> Lorem ipsum dolor sit amet consectetur adipiscing elit praesent tempor sodales inceptos varius, nisl placerat dictum curae nascetur elementum aliquam rhoncus aliquet bibendum condimentum</span>
                            </h6>
                        </div>
                    </div>
                    <div class="u-container-style u-layout-cell u-size-20 u-layout-cell-3">
                        <div class="u-container-layout u-container-layout-3">
                            <a href="/contacts_edit/0" class="u-active-palette-5-light-2 u-border-none u-btn u-button-style u-hover-palette-2-base u-palette-5-base u-btn-1">@localizer["New Contact"]</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="u-clearfix u-custom-color-2 u-section-2" id="sec-8458">
    <div class="u-clearfix u-sheet u-sheet-1">
        <table class="table table-striped table-bordered">
            <thead>
                <tr>
                    <th>@localizer["Names"]</th>
                    <th>@localizer["Birth Date"]</th>
                    <th>@localizer["Contact Type"]</th>
                    <th>@localizer["Phone Number"]</th>
                    <th>@localizer["Actions"]</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in contacts)
                {
                    <tr>
                        <td>@item.Name</td>
                        <td>@item.BirthDate.ToShortDateString()</td>
                        <td>@item.ContactType.Name</td>
                        <td>@item.PhoneNumber</td>
                        <td>
                            <MudButton Link="@($"/contacts_edit/{item.Id}")" Variant="Variant.Filled" Color="Color.Default">@localizer["Edit"]</MudButton>
                            <MudButton Variant="Variant.Filled" Color="Color.Error" @onclick="()=>Delete(item)">@localizer["Delete"]</MudButton>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</section>

@code {
    #region PROPERTIES
    private List<Contact> contacts = new();
    private string Message = "";
    private List<Action> actionsToRunAfterRender = new List<Action>();
    #endregion
    #region INITIALIZATION AND DISPOSAL
    protected override async Task OnInitializedAsync()
    {
        var results = await ReservationsService.GetContacts();
        if (results.contacts != null) contacts = results.contacts;
        else Message = results.Message;
    }
    #endregion
    #region ACTIONS
    private async Task Delete(Contact contact)
    {
        Message = await ReservationsService.DeleteContact(contact);
        if (Message.Contains("success", StringComparison.InvariantCultureIgnoreCase)) contacts.Remove(contact);
    }
    #endregion

}
