@page "/contacttypes_index"
@inject ReservationsService ReservationsService
@inject IStringLocalizer<Resource> localizer
@using Reservation.Shared.Models
@* Localization for Automatic Translation using the browser language configuration *@
@localizer[@Message]
<h3>@localizer["Contact Types"]</h3>
<button><a href="/ContactTypes_edit/0">@localizer["New Contact Type"]</a></button>
<table class="table table-striped table-bordered">
    <thead>
        <tr>
            <th>@localizer["Names"]</th>
            <th>@localizer["Actions"]</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in contactTypes)
        {
            <tr>
                <td>@item.Name</td>
                <td>
                    <MudButton Link="@($"/ContactTypes_edit/{item.Id}")" Variant="Variant.Filled" Color="Color.Default">@localizer["Edit"]</MudButton>
                    <MudButton Variant="Variant.Filled" Color="Color.Error" @onclick="()=>Delete(item)">@localizer["Delete"]</MudButton>
                </td>
            </tr>
        }
    </tbody>
</table>

@code {
    #region PROPERTIES
    private List<ContactType> contactTypes = new();
    private string Message = "";
    private List<Action> actionsToRunAfterRender = new List<Action>();
    #endregion
    #region INITIALIZATION AND DISPOSAL
    protected override async Task OnInitializedAsync()
    {
        var results = await ReservationsService.GetContactTypes();
        if (results.contactTypes != null) contactTypes = results.contactTypes;
        else Message = results.Message;
    }
    #endregion
    #region ACTIONS
    private async Task Delete(ContactType contactType)
    {
        Message = await ReservationsService.DeleteContactType(contactType);
        if (Message.Contains("success", StringComparison.InvariantCultureIgnoreCase)) contactTypes.Remove(contactType);
    }
    #endregion

}
