@page "/reservation_edit/{reservationId}"
@inject ReservationsService ReservationsService
@inject IJSRuntime JSRuntime
@inject IStringLocalizer<Resource> localizer
@inject NavigationManager NavigationManager
@using Reservation.Shared.Models
<h3>
    @if (reservationId == "0")
    {@localizer["Create Reservation"]}
else
{ @localizer["Edit Reservation"]}
</h3>
@localizer[@Message]
<EditForm Model="@reservation" class="forms-sample" OnValidSubmit="SaveItem">
    <DataAnnotationsValidator />
    <div class="form-group row">
        <label>@localizer["Destination"]</label>
        <div class="col-sm-9">
            <select class="form-control" @bind="@reservation.DestinationId" style="width:250px">
                <option value="null">@localizer["Select a destination"]</option>
                @foreach (var item in destinations)
                {
                    <option value="@item.Id">@item.Name</option>
                }
            </select>
        </div>
    </div>
    <div class="row">
        <div class="form-group row">
            <label>@localizer["Date"]</label>
            <div class="col-sm-6">
                <InputDate @bind-Value="reservation.Date" ParsingErrorMessage="@localizer["Must be a date"]" />
            </div>
        </div>
    </div>
    <div class="form-group row">
        <label>@localizer["Contact"]</label>
        <div class="col-sm-9">
            <select class="form-control" @bind="@reservation.ContactId" style="width:250px">
                <option value="null">@localizer["Select a contact"]</option>
                @foreach (var item in contacts)
                {
                    <option value="@item.Id">@item.Name</option>
                }
            </select>
        </div>
    </div>
    <div class="row grid-margin">
        <div class="col-lg-12">
            <div class="card">
                <div class="card-body" @onfocusout="async()=>reservation.Description = await QuillHtml.GetHTML()">
                    <h4 class="card-title">@localizer["Description"]</h4>
                    <BlazoredTextEditor @ref="@QuillHtml">
                        <ToolbarContent>
                            <select class="ql-header">
                                <option selected=""></option>
                                <option value="1"></option>
                                <option value="2"></option>
                                <option value="3"></option>
                                <option value="4"></option>
                                <option value="5"></option>
                            </select>
                            <span class="ql-formats">
                                <button class="ql-bold"></button>
                                <button class="ql-italic"></button>
                                <button class="ql-underline"></button>
                                <button class="ql-strike"></button>
                            </span>
                            <span class="ql-formats">
                                <select class="ql-color"></select>
                                <select class="ql-background"></select>
                            </span>
                            <span class="ql-formats">
                                <button class="ql-list" value="ordered"></button>
                                <button class="ql-list" value="bullet"></button>
                            </span>
                            <span class="ql-formats">
                                <button class="ql-link"></button>
                            </span>
                        </ToolbarContent>
                        <EditorContent>@((MarkupString)reservation.Description)</EditorContent>
                    </BlazoredTextEditor>
                </div>
            </div>
        </div>
    </div>
    <ValidationSummary />
    <button type="submit" class="btn btn-primary mr-2">@localizer["Send"]</button>
</EditForm>

@code {
    #region PROPERTIES
    [Parameter] public string reservationId { get; set; }
    private Reservation reservation = new() { Date = DateTime.Now };
    private List<Contact> contacts = new();
    private List<Destination> destinations = new();
    private BlazoredTextEditor QuillHtml;
    private string Message = "";
    #endregion
    #region INITIALIZATION AND DISPOSAL
    //Reusing the same form for both create and edit item
    protected override async Task OnInitializedAsync()
    {
        //Loading Contacts and Destinations
        contacts = (await ReservationsService.GetContacts()).contacts;
        destinations = (await ReservationsService.GetDestinations()).destinations;
        //Requesting existing Item from API using the Id (Edit)
        try
        {
            if (reservationId?.Length > 1)
            {
                var results = await ReservationsService.GetReservationId(Guid.Parse(reservationId));
                if (results.reservation != null) reservation = results.reservation;
                else Message = results.Message;
            }
        }
        catch (Exception ex)
        {
            Message = ex.Message;
        }
    }
    #endregion
    #region ACTIONS
    private async Task SaveItem()
    {
        //Saving Reservation considering its Id for creation or edition
        var results = await ReservationsService.SaveReservation(reservation, reservationId?.Length < 2);
        //Navigate to Reservations' List Page
        if (results.issuccess) NavigationManager.NavigateTo("/");
        else Message = results.Message;
    }
    #endregion
}
